* {
    padding: 0px;
    margin: 0px;
    
}

.conteudo {
    padding-left: 0px;
    padding-top: 0px;
}

a {
    text-decoration: none;
    color: black;
    left: -25px;
}

ul {
    list-style: none;
    top: 105px;
    position: absolute;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    
}

nav {
    background-color: rgba(0, 0, 0, 1);
    width: 230px;
    height: 100%;
    position: fixed;
    z-index: 3;
        
    
}

a {
    display: block;
    padding: 20px 5px;
    color: white;
    text-align: left;
    
}

a:hover {
    background-color: cadetblue;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: center;
    border-bottom: 2px solid black;
}

tbody td {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

tbody tr:hover {
    background-color: #eee;
}

.fonteli{
    font-size: 30px;
}
.perfil{
    top:5px;
    left: 10px;
    text-align: center;
    left: 0;
    color: white;
}
.hr{
    margin-top: 10px;
    
    width: 230px;
}
.icone{
    font-size: 50px;
}
.div1{
    padding-left: 230px;

}