table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}