.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
  }

  .search-container {
    margin-bottom: 30px;
  }

  