.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
  }

  .search-container {
    margin-bottom: 30px;
  }

  .ocultar{
    display: none;
  }
  .somavendas{
    text-align: center;
    margin-top: 5px;
    color: black;
    font-size: 25px;
  }
  .divitem{
    border: black;
    border: solid;
    width: 150px;
    display: inline-block;
    margin-left: 3px;
    margin-top: 0;
    height: 150px;
  }
  .divitens{
    margin-left: 250px;
  }
  .teste{
    border:solid;
    border:black;
    margin-left: 250px;
  }