table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: center;
  
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}
.iconvenda{
  height: 30px;
  color:black;

}