.div10{
    display: flex;
    justify-content: center;      

  }
  .formulario{
    margin-top: 90px;
    display: flex;
    justify-content: left;
    position: absolute;
    padding-top: 25px;
    
  }
  h1{
    padding-top: 35px;
    font-size: 45px;
    
  }
.div11{
  display: flex;
  flex-direction: column;
  
}

.ctnFlex{
  display: flex;
  justify-content: space-between;
  width: 1020px;
  
}

.titulo{
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.938);
  color: white;
  height: 57px;
  width: 100%;
  position: fixed;
  z-index: 2;
}